# Modeling

In [1]:
import pandas as pd
import db
import inspect
import matplotlib.pyplot as plt
import scipy.stats as stats
%matplotlib inline

In [3]:
data_original=pd.read_sql(sql="select * from _51jobs where monthly_salary>0 and monthly_salary<100000 order by monthly_salary", con=db.get_conn())

In [4]:
data_original.shape

(139531, 142)

In [5]:
error_job_ids=['104660258','104142922','108434795','101357291','106253516','110368302','111391233','108665401','109277048'
                  ,'73857191','108584955','102824950','102824949','111391233','110884556']

In [6]:
data=data_original[~data_original.job_id.isin(error_job_ids)]

In [7]:
data.shape

(139531, 142)

In [8]:
del data['publish_date']
del data['published_on_weekend']
del data['title']
del data['company_title']
del data['company_description']
del data['job_description']
del data['job_id']
del data['career_software_engineer']

In [ ]:
def del_by_count(data, threshold):
    for col in data.columns:
        if data[col].sum()<1000:
            data=data[data[col]==0]
            del data[col]
            print(col+" deleted")
    return data

In [10]:
data=del_by_count(data,1000)

city_changchun deleted
city_harbin deleted
company_type_foreign_gov deleted
company_type_foreign_rep deleted
company_type_non_profit deleted
company_type_public_institution deleted
db_Apache_Hive deleted
db_CouchBase deleted
db_CouchDB deleted
db_DynamoDB deleted
db_FileMaker deleted
db_Firebase deleted
db_Firebird deleted
db_Informix deleted
db_Ingres deleted
db_MariaDB deleted
db_Neo4j deleted
db_Netezza deleted
db_Riak deleted
db_SAP_HANA deleted
db_Solr deleted
db_Splunk deleted
db_Sybase deleted
db_Teradata deleted
db_dBase deleted
edu_high_school deleted
edu_middle_school deleted
edu_phd deleted
experience_10 deleted
pl_delphi deleted
pl_haskell deleted
pl_julia deleted
pl_kotlin deleted
pl_objective_c deleted
pl_ruby deleted
pl_rust deleted
pl_scrala deleted
pl_typescript deleted
pl_vba deleted
pl_visual_basic deleted
tag_baby_care deleted
tag_no_overtime deleted
tag_rest_one_day deleted

In [11]:
data=del_by_count(data,1000)

city_kuming deleted

In [12]:
data=del_by_count(data,1000)

In [13]:
data.shape

(129542, 90)

In [139]:
def del_by_prefix(data, pref):
    for col in data.columns:
        if col.startswith(pref):
            del data[col]

In [241]:
del_by_prefix(data, 'city_')

In [257]:
del_by_prefix(data, 'company_type')

In [258]:
del_by_prefix(data, 'db_')

In [14]:
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection  import train_test_split
from sklearn import tree

In [15]:
#y=np.log(data.monthly_salary)
y=data.monthly_salary
X=data.drop('monthly_salary', axis=1)

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
lr=LinearRegression()

In [19]:
lr_model=lr.fit(X_train, y_train)

In [20]:
lr_model.score(X_train, y_train)

0.419744771996575

In [21]:
lr_model.score(X_test, y_test)

0.4117210081416889

我们的 baseline设置为r squared=0.43

Index(['ageism', 'career_algorithm', 'career_architect', 'city_beijing',
       'city_changsha', 'city_chengdu', 'city_chongqing', 'city_dalian',
       'city_dongguan', 'city_fuzhou', 'city_guangzhou', 'city_hangzhou',
       'city_hefei', 'city_jinan', 'city_nanjing', 'city_ningbo',
       'city_qingdao', 'city_shanghai', 'city_shenyang', 'city_shenzhen',
       'city_tianjin', 'city_wuhan', 'city_xian', 'city_zhengzhou',
       'company_size_10000', 'company_size_1000_5000', 'company_size_150_500',
       'company_size_50', 'company_size_5000_10000', 'company_size_500_1000',
       'company_size_50_150', 'company_tpye_jv', 'company_type_foreign',
       'company_type_listed', 'company_type_private', 'company_type_startup',
       'company_type_state', 'company_type_us_eu', 'db_DB2',
       'db_Elasticsearch', 'db_Hbase', 'db_Memcached', 'db_MongoDB',
       'db_MySQL', 'db_Oracle', 'db_PostgreSQL', 'db_Redis', 'db_SQL_Server',
       'db_SQLite', 'edu_associate', 'edu_bachelor', 'edu_master', 'english',
       'experience_1_3', 'experience_3_5', 'experience_5_10', 'experience_no',
       'icu_996', 'industry_ads', 'industry_computer', 'industry_edu',
       'industry_energy', 'industry_finance', 'industry_gov',
       'industry_logistic', 'industry_medical', 'industry_realestate',
       'industry_service', 'industry_trade', 'japanese', 'non_996',
       'phone_android', 'phone_app', 'phone_iso', 'pl_c_sharp', 'pl_cpp',
       'pl_go', 'pl_java', 'pl_javascript', 'pl_lua', 'pl_matlab', 'pl_perl',
       'pl_php', 'pl_python', 'pl_swift', 'tag_five_insurance', 'tag_flexible',
       'tag_rest_two_days', 'tag_stock'],
      dtype='object')

In [24]:
len(X.columns)

89

In [25]:
len(lr.coef_)

89

In [26]:
data_coef=pd.DataFrame()

In [27]:
data_coef['col']=X.columns

In [28]:
data_coef['coef']=lr.coef_

In [29]:
data_coef.head(50)

                        col          coef
0                    ageism -8.036666e+02
1          career_algorithm  4.092876e+03
2          career_architect  2.864420e+03
3              city_beijing  7.158540e+15
4             city_changsha  7.158540e+15
5              city_chengdu  7.158540e+15
6            city_chongqing  7.158540e+15
7               city_dalian  7.158540e+15
8             city_dongguan  7.158540e+15
9               city_fuzhou  7.158540e+15
10           city_guangzhou  7.158540e+15
11            city_hangzhou  7.158540e+15
12               city_hefei  7.158540e+15
13               city_jinan  7.158540e+15
14             city_nanjing  7.158540e+15
15              city_ningbo  7.158540e+15
16             city_qingdao  7.158540e+15
17            city_shanghai  7.158540e+15
18            city_shenyang  7.158540e+15
19            city_shenzhen  7.158540e+15
20             city_tianjin  7.158540e+15
21               city_wuhan  7.158540e+15
22                city_xian  7.158540e+15
23           city_zhengzhou  7.158540e+15
24       company_size_10000  2.250750e+03
25   company_size_1000_5000 -7.506250e+02
26     company_size_150_500 -1.784625e+03
27          company_size_50 -2.650125e+03
28  company_size_5000_10000 -5.952500e+02
29    company_size_500_1000 -1.090969e+03
30      company_size_50_150 -2.218250e+03
31          company_tpye_jv -4.104596e+16
32     company_type_foreign -4.104596e+16
33      company_type_listed -4.104596e+16
34     company_type_private -4.104596e+16
35     company_type_startup -4.104596e+16
36       company_type_state -4.104596e+16
37       company_type_us_eu -4.104596e+16
38                   db_DB2 -4.669375e+02
39         db_Elasticsearch  5.830312e+02
40                 db_Hbase  1.132500e+03
41             db_Memcached  9.937500e+00
42               db_MongoDB -1.792812e+03
43                 db_MySQL  2.812500e+01
44                db_Oracle -5.967500e+02
45            db_PostgreSQL  7.262500e+01
46                 db_Redis  9.121250e+02
47            db_SQL_Server -3.035000e+02
48                db_SQLite -2.299805e+02
49            edu_associate -2.240000e+03

In [30]:
data_coef.tail(50)

                    col          coef
39     db_Elasticsearch  5.830312e+02
40             db_Hbase  1.132500e+03
41         db_Memcached  9.937500e+00
42           db_MongoDB -1.792812e+03
43             db_MySQL  2.812500e+01
44            db_Oracle -5.967500e+02
45        db_PostgreSQL  7.262500e+01
46             db_Redis  9.121250e+02
47        db_SQL_Server -3.035000e+02
48            db_SQLite -2.299805e+02
49        edu_associate -2.240000e+03
50         edu_bachelor -7.150000e+02
51           edu_master  2.901000e+03
52              english -2.910000e+02
53       experience_1_3 -2.198356e+16
54       experience_3_5 -2.198356e+16
55      experience_5_10 -2.198356e+16
56        experience_no -2.198356e+16
57              icu_996  1.785000e+02
58         industry_ads -9.850000e+01
59    industry_computer  1.581250e+02
60         industry_edu  1.064500e+03
61      industry_energy -7.262500e+02
62     industry_finance  8.653750e+02
63         industry_gov -7.451875e+02
64    industry_logistic  8.262500e+01
65     industry_medical -7.930625e+02
66  industry_realestate -5.195000e+02
67     industry_service -2.448750e+02
68       industry_trade -4.848750e+02
69             japanese  1.467125e+03
70              non_996 -1.055500e+03
71        phone_android  3.055000e+02
72            phone_app  4.665000e+02
73            phone_iso  9.031250e+01
74           pl_c_sharp -4.376250e+02
75               pl_cpp  1.498500e+03
76                pl_go  2.284000e+03
77              pl_java -9.700000e+01
78        pl_javascript -4.095000e+02
79               pl_lua  1.902234e+03
80            pl_matlab -3.579375e+02
81              pl_perl  1.730000e+02
82               pl_php -6.475000e+01
83            pl_python  1.093500e+03
84             pl_swift  1.285000e+02
85   tag_five_insurance -3.052500e+02
86         tag_flexible  8.435000e+02
87    tag_rest_two_days  7.300000e+02
88            tag_stock  7.196250e+02

In [31]:
lr_model.intercept_

5.5870977471649e+16